body {
    background-image: url(love2.jpg);
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: left;
    color: white;
}

h3 {
    text-align: left;
    color: white;
}